.button {
	display: flex;
	align-items: center;
	gap: var(--sz8);
	padding: var(--sz12) var(--fs20);
	border-radius: var(--sz4);
	box-shadow: var(--shadow1);
	border: none;
	outline: none;
	cursor: pointer;
	user-select: none;
	transition-property: background-color translate box-shadow;
	transition-duration: 0.2s;
	& > .button_icon {
		width: var(--fs20);
		stroke-width: 2;
		aspect-ratio: 1;
	}
	& > .button_text {
		font-weight: bold;
		letter-spacing: 0.05em;
		font-size: var(--fs18);
		margin-bottom: -2px;
	}
	&:hover:not(:active) {
		translate: 0 -2px;
		box-shadow: var(--shadow2);
	}
}

.primary-button {
	background-color: var(--primary600);
	color: var(--gray100);
	&:hover {
		background-color: var(--primary500);
	}
}

.secondary-button {
	background-color: var(--gray800);
	color: var(--gray200);
	outline-width: 2px;
	outline-style: solid;
	outline-color: var(--gray600);
	outline-offset: -2px;
	&:hover {
		color: var(--gray100);
		outline-color: var(--gray500);
	}
}