.code-editor-container {
	display: flex;
	flex-direction: column;
	border-radius: var(--sz4);
	background:linear-gradient(#0004, #0004),var(--gray800);
	flex-grow: 1;
	position: relative;
	transition: background-color 0.2s;
	&:has(.code-editor:focus) {
		background-color: var(--primary500);
	}
}
.code-editor_label {
	padding: var(--sz8) var(--sz12);
	font-size: var(--fs14);
	font-family: 'CascadiaMono', monospace;
	color: var(--gray300);
	text-transform: capitalize;
}
.code-editor {
	background-color: var(--gray800);
	border: none;
	outline: none;
	border-radius: 0 0 var(--sz4) var(--sz4);
	font-size: var(--fs18);
	padding:var(--sz12);
	color: var(--gray200);
	resize: none;
	height: 100%;
	font-family: 'CascadiaMono', monospace;
	white-space: pre;
	&::placeholder {
		color: var(--gray600);
	}
}

.code-editor-suggestions {
	position: absolute;
	left: var(--sz12);
	bottom: var(--sz12);
	& > .code-editor-suggestions_icon {
		width: var(--sz32);
		aspect-ratio: 1;
		background-color: #0004;
		padding: var(--sz4);
		border-radius: var(--sz4);
		cursor: pointer;
	}
	& > .code-editor-suggestions_lines {
		position: absolute;
		bottom: calc(100% + var(--sz8));
		padding: var(--sz8);
		background-color: #0004;
		border-radius: var(--sz4);
		display: none;
		& > .code-editor-suggestions_line {
			white-space: pre;
			font-size: var(--fs12);
			color: var(--gray300);
		}
	}
	&:hover > .code-editor-suggestions_lines {
		display: block;
	}
}