.short-input {
	display: flex;
	flex-direction: column;
	gap: var(--sz4);
	flex-grow: 1;
	min-width: var(--sz256);
	& > .short-input_name {
		font-size: var(--fs18);
		color: var(--gray300);
		text-transform: capitalize;
	}
	& > .short-input_input {
		border: none;
		outline: none;
		background-color: var(--gray800);
		border-radius: var(--sz4);
		font-size: var(--fs18);
		padding:var(--sz12);
		color: var(--gray200);
		width: 100%;
		font-family: 'Inter', sans-serif;
		box-shadow: inset var(--shadow1);
		&::placeholder {
			color: var(--gray600);
		}
	}
}