#app { 
	display: flex;
	flex-direction: column;
	gap: var(--sz32);
	flex-grow: 1;
}

.header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: var(--sz32) var(--sz32) 0;
	color: var(--primary100);
	& > .header-title {
		font-size: var(--fs24);
		letter-spacing: 0.3em;
	}
	& > .header-icon {
		width: var(--sz32);
		aspect-ratio: 1;
		cursor: pointer;
	}
}

.main-content {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: var(--sz32);
	padding: var(--sz16) var(--sz32) var(--sz32);
	flex-grow: 1;
	& > .short-inputs {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		gap: var(--sz24);
	}
	& > .editors {
		display: flex;
		width: 100%;
		flex-wrap: wrap;
		gap: var(--sz24);
		align-items: stretch;
		flex-grow: 1;
	}
}

.actions {
	position: fixed;
	bottom: var(--sz48);
	right: var(--sz48);
	z-index: 1;
	display: flex;
	align-items: end;
	gap: var(--sz12);
}